<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="admin.css">

</head>
<body>
<nav>
    <h1>Admin</h1>
    <ul>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Assign Course</a></li>
    </ul>
</nav>

<main>
<!--    <div class="dropdown">-->
<!--        <input type="text" placeholder="Faculty Name..." id="myInput">-->
<!--        <select id="options">-->
<!--            <option value="option1">Option 1</option>-->
<!--            <option value="option2">Option 2</option>-->
<!--            <option value="option3">Option 3</option>-->
<!--            &lt;!&ndash; Add more options as needed &ndash;&gt;-->
<!--        </select>-->
<!--    </div>-->

<!--    <table id="infoTable">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Courses</th>-->
<!--            <th>Semester</th>-->
<!--            <th>Faculty</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        &lt;!&ndash; Table body content will be populated dynamically &ndash;&gt;-->
<!--        </tbody>-->
<!--    </table>-->


    <form id="searchForm">
        <label>Faculty Name:</label>
        <input type="text" id="firstName" name="firstName" placeholder="First name...">
        <input type="text" id="lastName" name="lastName" placeholder="Last name...">
        <label for="semester">Semester:</label>
        <select id="semester" name="semester">
            <option value="">All</option>
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
            <option value="Fall">Fall</option>
            <option value="Winter">Winter</option>
        </select>
        <button type="submit" onclick="filterCourses()">Search</button>
    </form>

    <div id="searchResults" class="search"></div>

    <br>
    <div id="studentModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 id="courseTitle"></h2>
            <ul id="studentList">
                <!-- Students for the selected course will be displayed here -->
            </ul>
        </div>
    </div>
</main>
<script src="script.js"></script>
</body>
</html>
